{% extends 'Grd_9_ClsA_std.html' %}
{% load static %}
{% load humanize %}


{% block dashboard-body %}


			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Profile</h1>

					<div class="row">
						<div class="col-md-4 col-xl-3">
							{% for student in students %}
							<div class="card mb-3">
								<div class="card-header">
									<h5 class="card-title mb-0">Profile Details</h5>
								</div>
								<div class="card-body text-center">
									<img src="{{student.Grd9_ClsA_std_profile_picture.url}}" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
									<h5 class="card-title mb-0">{{student.first_name}} {{student.last_name}}</h5>
									<div class="text-muted mb-2">Lead Developer</div>

									<div>
										<a class="btn btn-primary btn-sm" href="#">Follow</a>
										<a class="btn btn-primary btn-sm" href="#"><span data-feather="message-square"></span> Message</a>
									</div>
								</div>
								<hr class="my-0" />
								<div class="card-body">
									<h5 class="h6 card-title">Skills</h5>
									<a href="#" class="badge badge-primary mr-1 my-1">HTML</a>
									<a href="#" class="badge badge-primary mr-1 my-1">JavaScript</a>
									<a href="#" class="badge badge-primary mr-1 my-1">Sass</a>
									<a href="#" class="badge badge-primary mr-1 my-1">Angular</a>
									<a href="#" class="badge badge-primary mr-1 my-1">Vue</a>
									<a href="#" class="badge badge-primary mr-1 my-1">React</a>
									<a href="#" class="badge badge-primary mr-1 my-1">Redux</a>
									<a href="#" class="badge badge-primary mr-1 my-1">UI</a>
									<a href="#" class="badge badge-primary mr-1 my-1">UX</a>
								</div>
								<hr class="my-0" />
								<div class="card-body">
									<h5 class="h6 card-title">About</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><span data-feather="home" class="feather-sm mr-1"></span> Lives in <a href="#">{{student.Resident}}
</a></li>

										<li class="mb-1"><span data-feather="briefcase" class="feather-sm mr-1"></span> Works at <a href="#">GitHub</a></li>
										<li class="mb-1"><span data-feather="map-pin" class="feather-sm mr-1"></span> From <a href="#">Boston</a></li>
									</ul>
								</div>
								<hr class="my-0" />
								<div class="card-body">
									<h5 class="h6 card-title">Elsewhere</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><span class="fas fa-globe fa-fw mr-1"></span> <a href="#">staciehall.co</a></li>
										<li class="mb-1"><span class="fab fa-twitter fa-fw mr-1"></span> <a href="#">Twitter</a></li>
										<li class="mb-1"><span class="fab fa-facebook fa-fw mr-1"></span> <a href="#">Facebook</a></li>
										<li class="mb-1"><span class="fab fa-instagram fa-fw mr-1"></span> <a href="#">Instagram</a></li>
										<li class="mb-1"><span class="fab fa-linkedin fa-fw mr-1"></span> <a href="#">LinkedIn</a></li>
									</ul>
								</div>
							</div>
							{% endfor %}
						</div>

						<div class="col-md-8 col-xl-9">

							 <div class="card">
								<div class="card-header">

									<h5 class="card-title mb-0">Activities</h5>
								</div>
			<!-- 					{% if Posts %}
<div class="card-list">
  {% for post in Posts %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title fw-bold"><a href="{{ post.get_absolute_url }}" class="text-primary">{{ post.title }}</a></h5>
      <div class="card-text">{{ post.body | slice:":100" }} ...</div>
      <div class="d-flex justify-content-start m-1">
        <div class="btn btn-secondary btn-sm mx-3"><i class="fas fa-user me-1"></i>{{ post.user.username }}</div>
        <div class="text-muted">{{ post.date }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="card mb-3">
  <div class="card-body">
    <p class="card-text">There are no posts</p>
  </div>
</div>
{% endif %} -->
									{% if Posts %}
								<div class="card-body h-100">	
									<!-- <button class="btn btn-primary"  onclick="return confirm('Are you sure?');">Delete</button> -->
									

									{% for post in Posts %}

{% for user in all_users %} 

{% if post.user.id == user.id %}

<!-- <div class="media">
										<img src="img/avatars/avatar.jpg" width="36" height="36" class="rounded-circle mr-2" alt="Charles Hall">
										<div class="media-body">
											<small class="float-right text-navy">30m ago</small>
											<strong>Charles Hall</strong> posted something on <strong>Christina Mason</strong>'s timeline<br>
											<small class="text-muted">Today 7:21 pm</small>

											<div class="border text-sm text-muted p-2 mt-1">
												Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
												pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
											</div>

											<a href="#" class="btn btn-sm btn-danger mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> Like</a>
										</div>
									</div>
 -->
									<hr />
<!-- <a class="btn btn-primary" href="{% url "Student:Student:delete_post" pk=post.id %}" id="delete-post-button">Delete Post</a> -->



									<div class="media">

										
										<div class="media-body">
												{% if user.is_student %}
						 <img src="{{user.Grd9_ClsA_std_profile_picture.url}}" width="36" height="36" class="rounded-circle mr-2" alt="Charles Hall">
						 {% elif user.is_teacher %}
						 <img src="{{user.Grd9_profile_picture.url}}" width="36" height="36" class="rounded-circle mr-2" alt="Charles Hall">
						 {% endif %}
						 <div class="media">
    <!-- Media content here... -->
    

<hr />
    <div class="dropdown" class="float-right text-navy" >
        <button data-feather='more-horizontal' type="button" id="postOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
        </button>
        <div class="dropdown-menu" aria-labelledby="postOptions">
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Delete</a>
            <a class="dropdown-item" href="#">Report</a>
        </div>
    </div>
</div>
									
											<small class="float-right text-navy">{{post.date|naturaltime}} ago</small>
											<strong>
				
{% if user.Grade_9_Math_subj_teach %}
<div class="alert-primary">
											
											<div class="alert-message">
												<strong>{{user.first_name}} {{user.last_name}}</strong> (Math Teacher)
											</div>
										</div>
										{{post.title}}<br />
{% elif user.Grade_9_Engl_subj_teach %}
<div class="alert-secondary">
											
											<div class="alert-message">
												<strong>{{user.first_name}} {{user.last_name}}</strong> (English Teacher)
											</div>
										</div>
										{{post.title}}<br />
{% elif user.Grade_9_Scn_subj_teach %}
<div class="alert-success">
											
											<div class="alert-message">
												<strong>{{user.first_name}} {{user.last_name}}</strong> (Science Teacher)
											</div>
										</div>
										{{post.title}}<br />
{% elif user.Grade_9_SocSnc_subj_teach %}
<div class="alert-warning">
											
											<div class="alert-message">
												<strong>{{user.first_name}} {{user.last_name}}</strong> (Social Science Teacher)
											</div>
										</div>
										{{post.title}}<br />
{% elif user.Grade_9_PersDev_subj_teach %}
<div class="alert-info">
											
											<div class="alert-message">
												<strong>{{user.first_name}} {{user.last_name}}</strong> (Personal Development Teacher)
											</div>
										</div>
										{{post.title}}<br />
{% else %}
 {{user.first_name}} {{user.last_name}}

 <br /> <a href="{{ post.get_absolute_url }}" class="text-primary">{{ post.title }}</a></h5><br />
{% endif %}


												
											<small class="text-muted">{{post.posted_date}} </small>

											<div class="border text-sm text-muted p-2 mt-1">
												<p class="p">{{ post.body | slice:":100" | linebreaks }} ...</p>
											</div>

											<a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-danger mt-1"><i class="feather-sm" data-feather="message-square"></i> Comment</a>
											<a href="#" class="btn btn-sm btn-danger mt-1"><i class="feather-sm" data-feather="heart"></i> Like</a>
										</div>
									</div>
									<hr />
	{% endif %}
									{% endfor %}

{% endfor %}

								</div>
													   {% if page_obj.has_next %}
                <p class="pagination">
                    <a class="next-page" href="?page={{ page_obj.next_page_number }}">More...</a>
                </p>
            {% endif %}
								    {% else %}
        <p>There are no any books uploaded yet!!!</p>
    {% endif %}
							</div> 
	
  
						</div>

  
</div>

						</div>
					</div>

				</div>
			</main>

<!-- jQuery CDN hosted by Google -->
    <script src="{% static 'js/jquery.jscroll.min' %}"></script>
<!-- jScroll plug-in CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

<script>
    jQuery(function ($) {
        var $list = $('.book-list');
        $list.jscroll({
            loadingHtml: '<div class="text-center">' +
                '<img src="{% static 'img/loading.gif' %}" alt="Loading" />' +
                '</div>',
            padding: 100,
            pagingSelector: '.pagination',
            nextSelector: 'a.next-page:last',
            contentSelector: '.card,.pagination'
        });
    });
</script>

{% endblock %}
<script>
  var isLoading = false;
  var currentPage = {{ events_page.number }};
  var totalPages = {{ events_page.paginator.num_pages }};
  
  $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100 && !isLoading && currentPage < totalPages) {
      isLoading = true;
      currentPage++;
      $.ajax({
        url: "?page=" + currentPage,
        method: "GET",
        dataType: "html",
        success: function (data) {
          isLoading = false;
          $("#event-list").append(data);
        },
      });
    }
  });
</script>

    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }

    });

    </script>
<script>
	
content = document.querySelector("#content");
let page = 1

window.onscroll = function() {
    url = `/?page=${page}`
    if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight) {
        fetch(url).then(res => {
            if (res.ok) {
                return res.json();
            }
        }).then(data => {
            console.dir(data)
            page += 1
            content.innerHTML += data.map(
                obj=>`<div>
                <h1>${obj.title}</h1> 
                <p>${obj.content}</p> 
                </div>`
                ).join("\n")
        }).catch(err => {

        })
    }
}
	
</script>

