{% extends 'Grd_9_ClsA_std.html' %}
{% load static %}


{% block dashboard-body %}
      <main class="content">
        <div class="container-fluid p-0">

          <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
              <h3><strong>Analytics</strong> Dashboard</h3>
            </div>

            <div class="col-auto ml-auto text-right mt-n1">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                  <li class="breadcrumb-item"><a href="#">AdminKit</a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Analytics</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="w-100">
<div class="card flex-fill w-100">
              <div class="card">
               
                <div class="card-header">
                  <h5 class="card-title">Uploaded {{SSJ}} files</h5>
                  <h5 class="card-title">Uploaded {{error}} files</h5>
                  
                  <h6 class="card-subtitle text-muted">Choose the {{SSJ}} files you wish to view</h6>
                </div>
                         

 <div class="table-responsive">
        <table id="studenttable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>Title</th>
          <th>Desc</th>
          <th>Action</th>
          <th>Date posted</th>
          
        </tr>
      </thead>
      <tbody>

        {% for subj in subjects %}
          <tr class='clickable-row' data-href="">
                <th>
                        {{subj.Title }}
                    </th>
                    <td>
                        {{subj.Desc }}
                    </td>
                    <td>
                       <a href="{{ math_file.file_upload.url }}">Download File</a> 
                    </td>
                    <td>
                        {{subj.DatePosted }}
                  </td>
                 
          </tr>
        {% endfor %} 

      </tbody>

    </table>
    </table>
  </div> 



              </div>
            </div>
              </div>
            </div>

          </div>

          



        </div>
      </main>
{% endblock %}


     
{% block morejs %}
<script>
  $('#studenttable').DataTable({
  });
</script>

{% endblock morejs %}
