{% extends 'TeacherGrd9ClsA.html' %}
{% load static %}


{% block dashboard-body %}
      <main class="content">
        <div class="container-fluid p-0">

          <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
              <h3><strong>Analytics</strong> Dashboard</h3>
            </div>

            <div class="col-auto ml-auto text-right mt-n1">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                  <li class="breadcrumb-item"><a href="#">AdminKit</a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Analytics</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="w-100">
<div class="card flex-fill w-100">
              <div class="card">
               
                <div class="card-header">
                  <h5 class="card-title">List of Grade 9 Teachers</h5>
                  <h6 class="card-subtitle text-muted">Choose the teachers you wish to edit</h6>
                </div>
                         <table class="table table-striped table-hover">
                <thead style=" font-weight: bold;">
                  <tr>
                    <td>Subject</td>
                    <td></td>
                 
               
                </thead>
                    
                      
                  </tr>
                </thead>
                <tbody>
                          
        <tr>
          <th >
              
                         
                  <tr>
                    <th>
                        {{student.first_name}}
                    </th>
                    <td>
                        {{student.last_name}}
                    </td>
                    <td>
                        {{student.username}}
                    </td>
                    <td>
                        {{student.email}}
                  </td>
                  <td>
                        A
                  </td>
                  <td>
                   <a class="templatemo-edit-btn" href="">Details</a>
                  </td>
          
                </tr>
                  
                 

                </tbody>
              </table> 
              </div>
            </div>
              </div>
            </div>

          </div>

          



        </div>
      </main>
{% endblock %}



